<div
  id='w-node-_9ce931ba-6952-df5f-0cc0-64a16cb4b23f-59562381'
  class='test-div is-blue'
></div>
<div
  id='w-node-_12443410-6577-476d-ec13-104c0f30c1a6-59562381'
  class='test-div'
></div>
{% if section.settings.show_image == 'desktop' %}
  <div
    id='w-node-_55696215-6c1e-8849-d993-58e8a754f287-59562381'
    class='test-div-blue'
  >
    <img
      class='test-image'
      src='{{ section.settings.image_test12 | img_url: 'master' }}'
      alt='{{ section.settings.image_test12.alt }}'
      loading='lazy'
    >
  </div>
{% endif -%}
{%- if section.settings.show_image == 'mobile' %}
  <div
    id='w-node-_7e321f6f-3e44-b22f-6193-0bce9c970f13-59562381'
    class='test-div-blue-mobile'
  >
    <img
      class='test-image'
      src='{{ section.settings.image_test12_mobile | img_url: 'master' }}'
      alt='{{ section.settings.image_test12_mobile.alt }}'
      loading='lazy'
    >
  </div>
{% endif %}
{% schema %}
{
  "tag": "section",
  "name": "test",
  "class": "fs-section_hero",
  "settings": [
    { "id": "image_test12", "type": "image_picker", "label": "test12" },
    {
      "id": "image_test12_mobile",
      "type": "image_picker",
      "label": "test12-mobile"
    }
  ],
  "presets": [{ "name": "test", "category": "Liquify" }]
}
{% endschema %}
